In [1]:
import os
import pandas as pd
import numpy as np
import tqdm
from tqdm import tqdm_notebook as tqdm
#import natsort
#from natsort import natsorted
import sklearn
from sklearn import *
from sklearn.model_selection import StratifiedShuffleSplit,train_test_split

/home/audy/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/audy/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/home/audy/anaconda3/lib/python3.6/site-packages/sklearn/learning_curve.py:22: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the functions are moved. This module will be removed in 0.20
  DeprecationWarning)

In [29]:
path = '../Data/oxford_pets/sparse_images/'

In [30]:
cat_choice = np.random.choice(2000,2000,replace=False)

In [31]:
cat_tr = []
cat_te = []
cat_va = []

In [32]:
im_list = sorted(os.listdir(path))

In [33]:
for i in range(2000):
    if i < 1000:
        cat_tr.append([im_list[cat_choice[i]],0])
    elif i >=1000 and i < 1500:
        cat_va.append([im_list[cat_choice[i]],0])
    else:
        cat_te.append([im_list[cat_choice[i]],0])

In [34]:
dog_choice = np.random.choice(2000,2000,replace=False)

In [35]:
dog_tr = []
dog_te = []
dog_va = []

In [36]:
im_list = sorted(os.listdir(path))

In [37]:
for i in range(2000):
    if i < 1000:
        dog_tr.append([im_list[2000+dog_choice[i]],1])
    elif i >=1000 and i < 1500:
        dog_va.append([im_list[2000+dog_choice[i]],1])
    else:
        dog_te.append([im_list[2000+dog_choice[i]],1])

In [38]:
tr = cat_tr+dog_tr
te = cat_te+dog_te
va = cat_va+dog_va

In [39]:
df_train = pd.DataFrame(tr,columns=['name','category'])
df_valid = pd.DataFrame(va,columns=['name','category'])
df_test = pd.DataFrame(te,columns=['name','category'])

In [40]:
df_train.to_csv('../CSV/oxford_pet_train.csv',index=False)
df_valid.to_csv('../CSV/oxford_pet_valid.csv',index=False)
df_test.to_csv('../CSV/oxford_pet_test.csv',index=False)

In [41]:
df_train = pd.read_csv('../CSV/oxford_pet_train.csv')
df_valid = pd.read_csv('../CSV/oxford_pet_valid.csv')
df_test = pd.read_csv('../CSV/oxford_pet_test.csv')

In [42]:
len(df_valid)

1000

In [44]:
df_train.tail()

                                      name  category
1995  dog_american_pit_bull_terrier_53.jpg         1
1996                  dog_chihuahua_90.jpg         1
1997    dog_english_cocker_spaniel_134.jpg         1
1998                dog_newfoundland_5.jpg         1
1999            dog_english_setter_170.jpg         1